@aaronshang:registry=https://node-registry.bit.cloud
@acmedyne:registry=https://node-registry.bit.cloud
@backend:registry=https://node-registry.bit.cloud
@bitdesign:registry=https://node-registry.bit.cloud
@bitdev:registry=https://node-registry.bit.cloud
@frontend:registry=https://node-registry.bit.cloud
@teambit:registry=https://node-registry.bit.cloud
//node-registry.bit.cloud/:_authToken="dko4PTpJZ2pTMUE9PV9EOTNldkJUV0VVL3NDRGVxS1hyVHBRPT0uUzIwcWJWQXFaSUFaV29ZRTd2NzVZVUlYZU1pbVlsZVlPN1dmVmhZSEZuTFpCWnhSQjhMTUVyVVZiKy9VTnhjOXozeENwazYxRWYzRkhSK2RXOW1DYWVSakRYbnBDM3lxcnJLWGFhS3M1WGFtSk1ONnRQb3pFMjlVdWNuQU44bHJlU0JRc2lwaHNzNlIzN24xdUtmVldIdzZNS2JsTy9BbnREUitGWk1wRmprU3B0UFYvdEJvQjBBdjF4NDBtMmtqTVRSNmN4cnpOb3I4ZWI1VzR2MU15QlF6d3B5OGZmVWZVYmZvS05PN05NakxqZHo0Z2phdnZ5SzVGdlVsci9BYUZqWHNXeGZBMzJObkgyNW9vN1FlV3dQc1hZR0VYZmI0SGt1cXhoektEZ1YvU05rM21jelE3Q2hBZFFVbHR3Q1JjT3U1OUszZGw3SFk2NGU5UnZFQ1hwcWZ0N0NXbXRuZUNzektyT3MrdnNvSWFRTlAvWmxEUk0wS2dyZzFqSngxNXFzdHZYanliMlRSaHJuMGE0SjdxZ2VHNm9zbFgwTnNSeGxyS2xKMmlBYVpWZnJzK1FWVzRnbU5kS1FNRFdZNGtGdWlXL1NCWE1PSml5QUI2WVdhQTEyTDI2WEZWeDB3UUxvU1NFR2NVOVMxQXBSb0lSbXZ3aE9BQW53SkRGM2JuRDlyK2xUUlkvME4zM05CU0ovR0VYbnNzQkI3OGx0RmJFaTNlNUF6RXAxVEtpZ0hUSkJGYVY5aFNhVVlYSG1qbURlZEtRVkpMQUhMbGdhWDRVUUJITDVuU1NwR2oyaTRWaUVlVERsbFkwNWpKTmI5YkU4VzdJTFdscmIxSm1ROGc4RW1pVXpFVXBjZDVlejVNdlhna0E9PQ=="

save-exact=true

## For monorepo, no phantom dependencies
shamefully-hoist=false

strict-peer-dependencies=true

# hard link
link-workspace-packages=true
